html, body, div, span, h2, h3, p, a, img, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
header {
	display: block;
}
body {
	line-height: 1;
}
.container {
	width: 940px;
	margin: 0 auto;
}
@media screen and (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.container {
		width: 724px;
	}
}
@media (max-width: 767px) {
	.container {
		width: 80%;
		margin-left: 10%;
	}
}
@media (max-width: 567px) {
	.container {
		width: 90%;
		margin-left: 5%;
	}
}
.row {
	*zoom: 1;
	margin-left: -20px;
}
@media screen and (min-width: 1200px) {
	.row {
		margin-left: -30px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.row {
		margin-left: -20px;
	}
}
@media (max-width: 767px) {
	.row {
		margin-left: 0px;
	}
}
@media (max-width: 567px) {
	.row {
		margin-left: 0px;
	}
}
.row:after {
	clear: both;
}
.row:before, .row:after {
	content: "";
	display: table;
	line-height: 0;
}
.span3 {
	width: 220px;
	margin-left: 20px;
	float: left;
}
@media screen and (min-width: 1200px) {
	.span3 {
		width: 270px;
		margin-left: 30px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.span3 {
		width: 166px;
		margin-left: 20px;
	}
}
@media (max-width: 767px) {
	.span3 {
		width: 100%;
		margin-left: 0px;
	}
}
@media (max-width: 567px) {
	.span3 {
		width: 100%;
		margin-left: 0px;
	}
}
.span6 {
	width: 460px;
	margin-left: 20px;
	float: left;
}
@media screen and (min-width: 1200px) {
	.span6 {
		width: 570px;
		margin-left: 30px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.span6 {
		width: 352px;
		margin-left: 20px;
	}
}
@media (max-width: 767px) {
	.span6 {
		width: 100%;
		margin-left: 0px;
	}
}
@media (max-width: 567px) {
	.span6 {
		width: 100%;
		margin-left: 0px;
	}
}
.span12 {
	width: 940px;
	margin-left: 20px;
	float: left;
}
@media screen and (min-width: 1200px) {
	.span12 {
		width: 1170px;
		margin-left: 30px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.span12 {
		width: 724px;
		margin-left: 20px;
	}
}
@media (max-width: 767px) {
	.span12 {
		width: 100%;
		margin-left: 0px;
	}
}
@media (max-width: 567px) {
	.span12 {
		width: 100%;
		margin-left: 0px;
	}
}
.offset3 {
	margin-left: 260px;
	float: left;
}
@media screen and (min-width: 1200px) {
	.offset3 {
		margin-left: 330px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.offset3 {
		margin-left: 206px;
	}
}
@media (max-width: 767px) {
	.offset3 {
		margin-left: 0;
	}
}
@media (max-width: 567px) {
	.offset3 {
		margin-left: 0;
	}
}
html, body {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	background: #fff;
	font-family: "Open Sans", Arial, sans-serif;
	color: #333;
	line-height: 32px;
	word-wrap: break-word;
	font-size: 17px;
	line-height: 31px;
	overflow-y: scroll;
	overflow-x: hidden;
}
@media screen and (min-width: 1200px) {
	body {
		font-size: 18px;
		line-height: 32px;
	}
}
@media (max-width: 767px) {
	body {
		font-size: 16px;
		line-height: 30px;
	}
}
@media (max-width: 567px) {
	body {
		font-size: 15px;
		line-height: 29px;
	}
}
#wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
p {
	margin-bottom: 32px;
	color: #333;
	letter-spacing: 0.01rem;
}
a {
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	text-decoration: none;
	color: #1573dd;
}
a:hover {
	color: #000;
}
h2, h3 {
	color: #000;
}
h2 {
	font-size: 33px;
	line-height: 45px;
	margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
	h2 {
		font-size: 36px;
		line-height: 48px;
	}
}
@media (max-width: 767px) {
	h2 {
		font-size: 29px;
		line-height: 41px;
	}
}
@media (max-width: 567px) {
	h2 {
		font-size: 24px;
		line-height: 36px;
	}
}
h3 {
	font-size: 26px;
	line-height: 38px;
	margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
	h3 {
		font-size: 28px;
		line-height: 40px;
	}
}
@media (max-width: 767px) {
	h3 {
		font-size: 22px;
		line-height: 34px;
	}
}
@media (max-width: 567px) {
	h3 {
		font-size: 20px;
		line-height: 32px;
	}
}
header {
	left: 0;
	right: 0;
	position: fixed;
	min-height: 50px;
	z-index: 20;
	opacity: 0;
}
@media (max-width: 767px) {
	header {
		top: 0px;
		position: absolute;
	}
}
#navbar-bg {
	background: #f9f9f9;
	width: 100%;
	position: absolute;
	transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
}
#navbar {
	transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	position: relative;
}
#navbar .navbar-inner {
	position: relative;
}
#navbar .logo {
	display: inline-block;
}
#navbar .logo a.has-logo {
	display: inline-block;
	font-size: 0;
}
#navbar .logo a {
	color: black;
}
#navbar .logo a:hover {
	opacity: 0.4;
}
#navbar .logo svg {
	transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
}
#navbar .fourty #logo {
	padding-top: 40px;
}
.fullscreen-cover {
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: hidden;
	opacity: 0;
	position: relative;
}
.fullscreen-cover .cover-image {
	text-align: center;
	width: 100%;
	bottom: 0;
	line-height: 0;
	overflow: hidden;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transform: scale(1);
}
.fullscreen-cover .cover-headline {
	opacity: 0;
	position: absolute;
	margin-bottom: 96px;
	z-index: 1;
	transition: all 0s linear;
	-moz-transition: all 0s linear;
	-webkit-transition: all 0s linear;
	-o-transition: all 0s linear;
}
@media (min-width: 768px) and (max-width: 979px) {
	.fullscreen-cover .cover-headline {
		margin-bottom: 64px;
	}
}
@media (max-width: 767px) {
	.fullscreen-cover .cover-headline {
		margin-bottom: 64px;
		width: 80%;
	}
}
@media (max-width: 567px) {
	.fullscreen-cover .cover-headline {
		margin-bottom: 32px;
		width: 90%;
	}
}
.fullscreen-cover .cover-headline .headline-image {
	max-width: 100%;
}
.fullscreen-cover .format-image .middle {
	margin-bottom: 0px;
	margin-top: 0px;
}
.wysiwyg-ce h2:last-child {
	margin: 0px;
}
.wysiwyg-ce p {
	margin-bottom: 32px;
	word-wrap: break-word;
}
.wysiwyg-ce p:last-child {
	margin: 0px;
}
#content #content-holder {
	position: relative;
}
#content .mc-sub-content-container .column-image {
	line-height: 0px;
	font-size: 0px;
}
#content .mc-sub-content-container .column-image img {
	height: auto;
	max-width: 100%;
}
@media (min-width: 978px) and (max-width: 1199px) {
	#content .mc-sub-content-container .column-image img {
		margin: 0;
		max-width: 100%;
	}
}
@media screen and (min-width: 1200px) {
	#content .mc-sub-content-container .column-image img {
		width: auto;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#content .mc-sub-content-container .column-image img {
		max-width: 100%;
		margin: 0;
	}
}
@media (max-width: 767px) {
	#content .mc-sub-content-container .column-image img {
		width: 100%;
		margin: 0;
	}
}
@media (max-width: 567px) {
	#content .mc-sub-content-container .column-image img {
		width: 100%;
		margin: 0;
	}
}
#content .mc-sub-content-container .column-image img {
	max-width: 100%;
}
html, body {
	-webkit-tap-highlight-color: transparent;
}
.center {
	text-align: center;
}
.middle {
	position: absolute;
	top: 50%;
}
.masonry-item {
	margin-left: 0px;
}
.fullscreen-cover .cover-headline {
	padding-top: 50px;
}
.fullscreen-cover {
	min-height: 560px;
}
@media screen and (max-width: 800px) {
	.mc-content-container {
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.fullscreen-cover {
		min-height: 0;
	}
}
div.cover-headline img {}
.blm-footer {
	background: #eceae3;
}
.home .btn-white:hover {
	color: #19181b;
	background-color: #FFF;
	text-decoration: none;
}
.footer-jaywing {
	clear: both;
	background: #231f20;
}
.footer-jaywing .jaywing-proud {
	margin-bottom: 0;
	color: #FFF;
	font-size: .8em;
	padding-top: 20px;
}
.footer-jaywing .jaywing-proud a {
	color: #fff;
	text-decoration: underline;
}
.footer-jaywing .jaywing-details {
	margin-bottom: 0;
	color: #FFF;
	font-size: .6em;
	line-height: 1.5;
	padding-bottom: 20px;
}
#content {
	height: 100%;
}
.cover-9872, .cover-9872 .cover-image {
	background-color: #fff;
}
.cover-9872 .cover-image {
	background-image: url(../img/Background_bloom.png);
}
.cover-9872 .cover-image {
	opacity: 1;
}
.cover-9872 .cover-image {
	background-repeat: no-repeat;
}
.cover-9872 .cover-image {
	background-size: cover;
}
.cover-9872 .cover-image {
	background-position: top center;
}
#navbar-bg {
	background: #fff;
	opacity: 1;
}
#navbar {
	border-bottom: 1px solid #e8e8e8;
}
.logo svg {
	width: 200px;
	height: 80px;
}
header {
	position: absolute;
	top: -160px;
}
#navbar, #navbar-bg {
	height: 160px;
}
.navbar-inner {
	height: 160px;
	overflow: hidden;
}
.wysiwyg-ce a {
	color: #eb5658;
}
.wysiwyg-ce a:hover {
	color: #fff;
}
body {
	background-color: #eceae3;
}
.btn-grey {
	background: 0 0;
	border: 4px solid #575757;
	color: #575757;
	padding: 15px 20px;
	text-transform: capitalize;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	font-family: "Campton-Light", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
}
.btn-grey:link {
	color: #575757;
}
.btn-grey:hover {
	color: #fff;
	background-color: #575757;
	text-decoration: none;
}
.btn-white {
	background: 0 0;
	border: 4px solid #fff;
	color: #fff;
	padding: 15px 20px;
	text-transform: capitalize;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	font-family: "Campton-Light", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
}
.btn-white:link {
	color: #fff;
}
.btn-white:hover {
	color: #575757;
	background-color: #000;
	text-decoration: none;
}
#navbar .fourty #logo {
	padding-top: 36px;
}
body {
	font-family: "Campton-Light", Helvetica, Arial, sans-serif !important;
	font-style: normal;
	font-weight: 300;
}
.wysiwyg-ce h2, .wysiwyg-ce h3 {
	font-family: "Campton-Bold", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300
}